/* ======== HERO SECTION VIDEO RULES ======== */

/* Main video container, covers the entire viewport height partially (82vh) */
.homepage_video {
    position: relative;
    width: 100%;
    height: 82vh;
    /* 82% of the viewport height */
    overflow: hidden;

}

/* Styling rules for the video inside homepage_video */
.homepage_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers entire container without distortion */
}

/* Overlay content positioned absolutely over the video */
.overlay_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black overlay */
}

.video_abstract_container {

    width: 60%;

}

.video_abstract_container h1 {
    font-size: 26px;
    font-weight: 300;
    /* più leggero = più morbido */
    color: rgba(255, 255, 255, 0.7);
    /* bianco semitrasparente */
    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    /* sfumatura sotto */
    transition: all 0.3s ease;
    text-align: center;

    text-transform: none;
}




/* ======== BEST SELLER WINE SECTION ======== */

/* Title container for Best Seller wines */
.best_seller_title {
    font-size: 28px;
    font-weight: 50;
    background-color: var(--primary);
    /* Uses global CSS variable for primary color */
    height: 175px;
    display: flex;
    justify-content: center;

    align-items: center;

}

/* Container holding the best wines, displayed as a flexible layout */
.best_seller_container {


    width: 100%;
    height: 100%;
    display: flex;

}

/* Container for the red wine */
.best_red_wine_container {
    background-color: var(--red);
    /* Uses global CSS variable for third color */
    width: calc(100vw / 3);
    /* 1/3 of viewport width */
    height: 100%;

    display: flex;
}

/* Container for the white wine */
.best_white_wine_container {
    background-color: var(--white);
    /* Uses global CSS variable for fourth color */
    width: calc(100vw / 3);
    /* 1/3 of viewport width */
    height: 100%;

    display: flex;
}

/* Container for the rosé wine */
.best_rose_wine_container {
    background-color: var(--pink);
    /* Uses global CSS variable for fifth color */
    width: calc(100vw / 3);
    /* 1/3 of viewport width */
    height: 100%;

    display: flex;
}


.wine_image_container {

    /* height: 100%; */
    width: 30%;

}

.wine_image_container img {


    width: 180px;
    /* dimensione fissa ideale, scegli la tua */
    height: auto;
    /* altezza automatica per mantenere proporzioni */

    padding: 20px;
    margin-left: 30px;
    transition: transform 0.8s ease;


}

.wine_image_container img:hover {
    transform: scale(1.05);

}

.wine_container_traits {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.wine_container_traits p {

    font-size: 50px;
    /* color: white; */
    font-weight: lighter;
}


/**************** GREEN SECTION ********************************/

.green_image_container {


    height: 60vh;


}

.green_image_container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* o cover */
    object-position: center;

}

.best_dynamic_wine_container {



    width: calc(100vw / 3);
    /* 1/3 of viewport width */
    height: 100%;

    display: flex;
}

.rosato {

    background-color: var(--pink);
}

.rosso {

    background-color: var(--red);
}

.bianco {

    background-color: var(--white);
}

.rosato p {

    color: #c4998b;
}

.rosso p {

    color: #694B47;
}

.bianco p {

    color: #a5965f;
}



/* MEDIA QUERY */


/* desktop (max-width 1024px) */

@media screen and (max-width: 1800px) {
    .wine_container_traits p {
        font-size: 40px;
    }

    .wine_container_traits {

        width: 60%;
    }

    .wine_image_container {


        width: 40%;

    }

    .wine_image_container img {

        width: 150px;


    }
}

@media screen and (max-width: 1600px) {
    .wine_container_traits p {
        font-size: 35px;
    }

    .wine_container_traits {

        width: 60%;
    }

    .wine_image_container {


        width: 40%;

    }

    .wine_image_container img {

        width: 150px;


    }
}

@media screen and (max-width: 1440px) {
    .wine_container_traits p {
        font-size: 30px;
    }

    .wine_container_traits {

        width: 60%;
    }

    .wine_image_container {


        width: 40%;

    }

    .wine_image_container img {

        width: 8vw;


    }
}

@media screen and (max-width: 1200px) {
    .wine_container_traits p {
        font-size: 20px;
    }

    .wine_container_traits {

        width: 60%;
    }

    .wine_image_container {


        width: 40%;

    }

    .wine_image_container img {

        width: 120px;


    }

    .video_abstract_container h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 980px) {
    .wine_container_traits p {
        font-size: 15px;
        margin-left: 5px;
    }

    .wine_container_traits {

        width: 60%;
    }

    .wine_image_container {


        width: 40%;

    }

    .wine_image_container img {

        width: 90px;


    }

    .best_seller_title {

        height: 90px;
    }
}


/* Tablet (max-width 768px) */
@media screen and (max-width: 850px) {

    .video_abstract_container h1 {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .wine_container_traits {

        display: none;
    }

    .wine_image_container {


        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .wine_image_container img {

        width: 90px;
        margin-left: 0px;


    }

}

/* Mobile (max-width 480px) */
@media screen and (max-width: 480px) {}