.hero_section {

    position: relative;
    width: 100%;
    height: 110vh;
    overflow-x: hidden;



}


.hero_button {
    position: absolute;
    top: 92%;
    /* regola questa percentuale in base a dove finisce la bottiglia */
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 20px;
    font-size: 16px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    z-index: 3;
    transition: background-color 0.3s ease;
}

.hero_button:hover {
    background-color: #333;
}

.not_available {
    color: var(--secondary);
    margin-bottom: 25px;
    position: absolute;
    top: 92%;
    /* regola questa percentuale in base a dove finisce la bottiglia */
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}


.background_text {
    font-size: 200px;
    color: white;
    /* opacity: 0.1; */
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    letter-spacing: 10px;
    font-family: 'Source Serif 4', serif;
    text-align: center;

}

h1 {
    font-weight: 350;
    text-transform: uppercase;
}

.bottle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 90vh;
    z-index: 2;

}





.rosato {

    background-color: var(--pink);
}

.rosso {

    background-color: var(--red);
}

.bianco {

    background-color: var(--white);
}

.rosato h1 {

    color: #E3AF9D;
}

.rosso h1 {

    color: #694B47;
}

.bianco h1 {

    color: #BBAE7D;
}




/* WINE PROPERTIES */
.footer_big_wave {

    width: 45%;
    height: 30px;
    /* aumenta qui l'altezza */
    object-fit: cover;
    /* o contain */
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;

}

.wine_properties_big_container {

    width: 100%;
    /* background-color: #E3AF9D; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.wine_properties_container {

    /* background-color: aqua; */
    height: 100%;
    width: 90%;


}

.wine_properties_image {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wine_properties_container h1 {

    color: rgb(3, 3, 3);
    font-size: 60px;
    text-align: center;

}

.correlated_title {
    color: rgb(3, 3, 3);
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 350;
}

.flex_container {

    display: flex;
    justify-content: center;
    align-items: center;

}

.data_sheet_container {

    /* background-color: #694B47; */
    width: 80%;

    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}



.single_data_containers {

    width: 50%;
    /* background-color: aquamarine; */
    /* border: black 1px solid; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.single_data_icon {

    width: 30%;
    /* background-color: #BBAE7D; */
    height: 100%;
    display: flex;
    justify-content: center;
}

.single_data_script {
    height: 100%;
    width: 70%;

    /* background-color: azure; */


}

.single_data_script h5 {
    color: var(--white);
}

.single_data_script p {
    font-size: 18px;
}

.added_message {
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translateX(-50%);
    background-color: #ffffffcc;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    z-index: 5;
    animation: fadeInOut 2s ease forwards;
}


/* CORRELATED WINES */

.big_correlated_wines_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small_correlated_wines_container {

    /* background-color: rgb(255, 21, 0); */
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}





@media screen and (max-width: 1600px) {

    .background_text {
        font-size: 150px;

    }

}

@media screen and (max-width: 1260px) {

    .background_text {

        font-size: 120px;
    }

}

@media screen and (max-width: 1050px) {

    .data_sheet_container {

        width: 90%;
    }

    .background_text {

        font-size: 90px;
    }

    .bottle {

        height: 53vh;
        top: 33%;


    }

    .added_message {
        left: 80%;
    }

    .hero_section {

        height: 82vh;
    }

    .hero_button {

        top: 85%;
    }

}


@media screen and (max-width: 800px) {
    .single_data_containers {
        width: 100%;
        margin-bottom: 15px;
    }

    .background_text {

        font-size: 60px;
    }
}

@media screen and (max-width: 570px) {

    .background_text {
        font-size: 3rem;
        top: 10%;
    }
}




@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(10px);
    }

    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}

.single_data_icon {
    /* width: 100%; */
    margin-right: 1rem;
}

.single_data_icon img {
    width: 50px;
    /* margin: 0 2rem */
}


.small_correlated_wines_container {

    /* background-color: rgb(255, 21, 0); */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}