/* regole generali */




a {
    text-decoration: none;

}

h1 {
    font-weight: 200;
}

/******************* HEADER ******************************/
header {
    background-color: var(--primary);
    border-bottom: 1px solid black;
}


/******************* BIG AND SMALL HEADER CONTAINER ******************************/
.header_container {

    height: 150px;
    width: 100%;
    display: flex;
}

/************************ LOGO SECTION ***************/

.logo_container {

    width: 15%;

    /* background-color: aqua; */
}

.logo_container img {


    height: 100%;


}

.page_link_container {
    width: 70%;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

.nav_container {

    width: 15%;


    display: flex;
    justify-content: center;
    align-self: center;
    gap: 25px;
    font-size: 25px;
}



/************************ ICON ***************/
.icon_cart {
    position: relative;
}

.icon_cart p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    top: 0;
    right: -8px;
    border-radius: 50%;
    background-color: rgb(167, 46, 46);
    width: 20px;
    height: 20px;
}