/* regole generali */




a {
    text-decoration: none;

}

h1 {
    font-weight: 200;
}

/******************* HEADER ******************************/
header {
    background-color: var(--primary);
    border-bottom: 1px solid black;
}


/******************* BIG AND SMALL HEADER CONTAINER ******************************/
.header_container {

    height: 150px;
    width: 100%;
    display: flex;

}

/************************ LOGO SECTION ***************/

.logo_container {
    width: 15%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_container img {
    height: 65px;
    /* imposta altezza fissa in pixel */
    width: auto;
    /* mantiene il rapporto d'aspetto originale */
}

.page_link_container {
    width: 70%;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

.nav_container {

    width: 15%;


    display: flex;
    justify-content: center;
    align-self: center;
    gap: 25px;
    font-size: 25px;
}



/************************ ICON ***************/
.icon_cart {
    position: relative;
}

.icon_cart p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    top: 0;
    right: -8px;
    border-radius: 50%;
    background-color: rgb(167, 46, 46);
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1600px) {

    .logo_container img {
        height: 50px;
    }
}

@media screen and (max-width: 1440px) {

    .logo_container img {
        height: 35px;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 980px) {
    .logo_container img {
        height: 50px;
    }

    .page_link_container {

        display: none;
    }

    .header_container {

        justify-content: space-between;
    }

    .logo_container {

        width: 50%;
    }

    .nav_container {
        width: 50%;
        justify-content: end;
    }


}


/* Tablet (max-width 768px) */
@media screen and (max-width: 768px) {}

/* Mobile (max-width 480px) */
@media screen and (max-width: 480px) {}