/* regole generali */




a {
    text-decoration: none;


}

h1 {
    font-weight: 200;
}

/******************* HEADER ******************************/
header {
    background-color: var(--primary);
    border-bottom: 1px solid black;
}


/******************* BIG AND SMALL HEADER CONTAINER ******************************/
.header_container {

    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;





}

.small_header_container {
    width: 90%;

    display: flex;

    align-items: center;
    justify-content: center;






}

/************************ LOGO SECTION ***************/

.logo_container {
    width: 15%;



}

.logo_container img {
    height: 65px;
    /* imposta altezza fissa in pixel */

    /* mantiene il rapporto d'aspetto originale */
}

.page_link_container {
    width: 70%;


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}

.nav_container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 15%;
    /* <-- assicurati che ci sia */
    gap: 25px;
    font-size: 25px;
    transform: translateY(-8px);
}



/************************ ICON ***************/
.icon_cart {
    position: relative;
    display: flex;
    /* <-- centra l’icona verticalmente */
    align-items: center;

}

.icon_cart p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    top: 0;
    right: -8px;
    border-radius: 50%;
    background-color: rgb(167, 46, 46);
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1600px) {

    .logo_container img {
        height: 50px;
    }
}

@media screen and (max-width: 1440px) {

    .logo_container img {
        height: 35px;
    }
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 980px) {
    .logo_container img {
        height: 50px;
    }

    .page_link_container {

        display: none;
    }

    .header_container {

        justify-content: space-between;
    }

    .logo_container {

        width: 50%;
    }

    .nav_container {
        width: 50%;
        justify-content: center;
    }



}


/* Tablet (max-width 768px) */
@media screen and (max-width: 768px) {
    .nav_container {
        transform: translateY(0px);
    }

}

/* Mobile (max-width 480px) */
@media screen and (max-width: 480px) {}



.sticky_header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(246, 246, 246, 0.8);
    backdrop-filter: blur(10px);
    /* oppure il colore che vuoi */



}