.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}

.popup_content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.button {
    margin-top: 20px;
}

.input {
    text-align: center;
}