.searchbar_container {}

.searchbar_container input {

    border-radius: 25px;
    border: 1px black solid;


}

.lens {
    margin-left: 10px;
    cursor: pointer;
}

input {

    padding-left: 10px;


}

@media screen and (max-width: 770px) {

    .searchbar_container {
        display: flex;
        justify-content: center;
    }
}