* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist";

}

:root {
    --primary: #FFFCF5;
    --secondary: #475D59;
    --third: #372A29;
    --fourth: #CFC189;
    --fifth: #F5C6B6;


}