* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist";

}

:root {
    --primary: #FFFCF5;
    --secondary: #475D59;
    --red: #372A29;
    --white: #CFC189;
    --pink: #F5C6B6;


}

/* Header.module.css */
a,
a:visited,
a:hover,
a:active {
    text-decoration: none !important;
    color: inherit !important;
}

.page_link_container a,
.page_link_container a:visited,
.page_link_container a:hover,
.page_link_container a:active {
    text-decoration: none !important;
}

p {
    margin-bottom: 0 !important;
}