* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist";

}

:root {
    --primary: #FFFCF5;
    --secondary: #475D59;
    --red: #372A29;
    --white: #CFC189;
    --pink: #F5C6B6;


}